@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  font-family: "Inter", sans-serif !important;
}

html,
body {
  height: 100%;
  margin: 0px;
  padding: 1em 1em;
  font-size: 16px;
  color: whitesmoke;
  text-align: left;
}

h1{
  font-size: 20px ;
  color: #111;
  text-align: center;
}

h2{
  color: #111;
}

.span-required{
  font-size: 15px;
  margin: 3px 0 0 1px;
  color: var(--color-red);
  display:none;
  

}

header {
  text-align: center;
}

nav {
  width: 100%;
  border-style: solid;
  border-width: 0.1rem;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
  border-color: #a8a8a8;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    margin: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

a {
  text-decoration: none;
}

.active {
  background-color: #aa6800;
}

#form {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;

}

.form-group {
  width: 80%;
  display: flex;
  margin-left: -100px;
  margin-right: -300px;
  flex-direction: column;
  margin-bottom: 1.2rem;
  margin: 20px 0 10px;
  color:#111;
  justify-content: center;
  align-items: center;

}

.required ::after {
  content: "campo obrigátorio";
  color:tomato;
  font-size: 0.6rem;
  top: 0;
  right: 0;
}

.gen-group {
  max-width: 250px;
  flex-direction: column;
  margin-bottom: 1.2rem;
  overflow: hidden;
  justify-content: center;
}

.gen-group select {
  width: 250px;
  margin-top: 0.5rem;
  padding: 0.4rem 0.6rem;
  color: rgb(26, 25, 25);
  font-size: 15px;
  border-radius: 0.35rem;
  border-style: solid;
  border-width: 0.1rem;
  border-color: #a8a8a8;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.form-group input{
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 0.5em;
}


.button-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;
}

label {
  font-weight: 600;
  font-size: 20px;
  align-items: center;
  justify-content: center;
}

input {
  margin-top: 0.5rem;
  font-size: 14px;
  padding: 0.4rem 0.6rem;
  border-radius: 0.35rem;
  border-style: solid;
  border-width: 0.1rem;
  border-color: #a8a8a8;
  outline-color: rgb(37, 99, 235);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  justify-content: center;
  align-items: center;
}

button {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  border-width: 0.1rem;
  font-size: 14px;
  background-color: #fff;
  color: 000;
  padding: 0.4rem 0.8rem;
  outline-color: rgb(37, 99, 235);
  border-radius: 0.35rem;
  border-style: solid;
  border-color: #a8a8a8;
  cursor: pointer;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

@keyframes anime {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.05);
  }
}

button:hover {
  animation-name: anime;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background-color: #ededed;
}

footer
{
width: 100%;
min-height:100 px;
background: #444;
display: flex;
margin left:30px;
margin right:30px;
padding-left:2px;
padding-right:30px;

}
footer .boxs
{
  width: 320px;
  min-height: 150px;
  padding: 20px;
}
footer .boxs:nth-child(4)
{
  width: 450px;
}

.boxs h2
{
  color:#fff;
  margin-bottom:20px;
}

.boxs ul li 
{
  margin:10px 0px;
  list-style:square;
}
.boxs ul li a
{
   color:#fff;
   text-decoration: none;
}

.boxs ul li a:hover
{
  color:#fff;
}

.boxs p
{
  color:#fff;
  text-align: justify;
}






